.mainSection {
    background: url("../../../images/jupizino-BG_.jpg");
    background-size: auto;
    background-position: center;
    color: white;
    object-fit: contain;
}

/* .clippedBottom {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.clippedTop {
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
} */

.jackpot {
    @apply flex flex-col lg:w-full mx-auto py-4 text-center text-white justify-center items-center border border-brand-third space-y-4 uppercase rounded-md;
    background: #010F27;
}