.main-section {
    background: url("../../../images/jupizino-BG_.jpg");
    background-size: auto;
    background-position: center;
    color: white;
    object-fit: contain;
    /* clip-path: polygon(0 0, 100% 0, 100% 99%, 0 85%); */
}