.dialog {
    @apply relative w-auto pointer-events-none m-2;
  }
  
  .content {
    @apply relative flex flex-col w-full pointer-events-auto bg-clip-padding;
    background-color: #f2f2f2;
  }
  
  .header {
    @apply flex flex-shrink-0 items-center justify-between px-1 md:px-4 md:py-3;
  }
  
  .title {
    @apply text-2xl;
  }
  
  .body {
    @apply relative flex-auto p-2;
  }
  
  .centered {
    @apply flex items-center;
    min-height: calc(100% - 1rem);
  }
  
  .scrollable {
    height: calc(100% - 1rem);
  
    .content {
      @apply max-h-full overflow-hidden;
    }
  
    .body {
      @apply overflow-y-auto;
    }
  }
  
  @screen sm {
    .dialog {
      margin: 1.75rem auto;
      max-width: 500px;
    }
  
    .centered {
      min-height: calc(100% - 3.5rem);
    }
  
    .scrollable {
      height: calc(100% - 3.5rem);
    }
  
    .sizeSM {
      max-width: 300px;
    }
  }
  
  @screen lg {
    .sizeLG,
    .sizeXL {
      max-width: 800px;
    }
  }
  
  @screen xl {
    .sizeXL {
      max-width: 1140px;
    }
  }
  
  @screen-max sm {
    .fullscreenSM {
      @apply w-screen h-full m-0 max-w-none;
      .content {
        @apply h-full;
      }
  
      .body {
        @apply overflow-y-auto;
      }
    }
  }
  
  @screen-max md {
    .fullscreenMD {
      @apply w-screen h-full m-0 max-w-none;
  
      .content {
        @apply h-full;
      }
  
      .body {
        @apply overflow-y-auto;
      }
    }
  }
  
  @screen-max lg {
    .fullscreenLG {
      @apply w-screen h-full m-0 max-w-none;
  
      .content {
        @apply h-full;
      }
  
      .body {
        @apply overflow-y-auto;
      }
    }
  }
  
  @screen-max xl {
    .fullscreenXL {
      @apply w-screen h-full m-0 max-w-none;
  
      .content {
        @apply h-full;
      }
  
      .body {
        @apply overflow-y-auto;
      }
    }
  }
  