@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: normal;
  font-weight: 500;
  src: local(''), url("/src/fonts/PFEncoreSansPro-Reg.otf") format('otf');
}

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: italic;
  font-weight: 500;
  src: local(''), url("/src/fonts/PFEncoreSansPro-RegItalic.otf") format('otf');
}

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: normal;
  font-weight: 700;
  src: local(''), url("/src/fonts/PFEncoreSansPro-Bold.otf") format('otf');
}

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: italic;
  font-weight: 700;
  src: local(''), url("/src/fonts/PFEncoreSansPro-BoldItalic.otf") format('otf');
}

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: normal;
  font-weight: 900;
  src: local(''), url("/src/fonts/PFEncoreSansPro-UBlack.otf") format('otf');
}

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: italic;
  font-weight: 900;
  src: local(''), url("/src/fonts/PFEncoreSansPro-UBlackItalic.otf") format('otf');
}

body {
  margin: 0;
  font-family: 'PF Encore Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  min-height:100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  outline: none;
  font-family: "PF Encore Sans Pro", sans-serif;
}

button:active {
  outline: none;
  border: none;
  }
  
button:focus {outline:0;}

textarea:focus, input:focus{
  outline: none;
}

.swiper-button-next, .swiper-button-prev {
  color:lightgray !important;
} 

/* .swiper-button-disabled {
  display:none !important;
} */


.swiper-button-prev:after, .swiper-button-next:after { font-size: 16px !important; margin:10px !important}

/* .swiper-slide-next .swiper-button-next {
  display: none !important;
} */

/* Another way of adding the scrollbar...we will see about that in the future  */
/* ::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10px;
  -webkit-border-radius: 12px;
  background-color: #0D2950;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}


::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
} */