@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: normal;
  font-weight: 500;
  src: local(''), url("/src/fonts/PFEncoreSansPro-Reg.otf") format('otf');
}

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: italic;
  font-weight: 500;
  src: local(''), url("/src/fonts/PFEncoreSansPro-RegItalic.otf") format('otf');
}

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: normal;
  font-weight: 700;
  src: local(''), url("/src/fonts/PFEncoreSansPro-Bold.otf") format('otf');
}

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: italic;
  font-weight: 700;
  src: local(''), url("/src/fonts/PFEncoreSansPro-BoldItalic.otf") format('otf');
}

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: normal;
  font-weight: 900;
  src: local(''), url("/src/fonts/PFEncoreSansPro-UBlack.otf") format('otf');
}

@font-face {
  font-family: 'PFEncoreSansPro';
  font-style: italic;
  font-weight: 900;
  src: local(''), url("/src/fonts/PFEncoreSansPro-UBlackItalic.otf") format('otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'PF Encore Sans Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  min-height:100%;
  font-family: "PF Encore Sans Pro";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  outline: none;
  font-family: "PF Encore Sans Pro";
}

button:active {
  outline: none;
  border: none;
  }
  
button:focus {outline:0;}

.swiper-button-next, .swiper-button-prev {
  color:lightgray !important;
} 

/* .swiper-button-disabled {
  display:none !important;
} */


.swiper-button-prev:after, .swiper-button-next:after { font-size: 16px !important; margin:10px !important}

/* .swiper-slide-next .swiper-button-next {
  display: none !important;
} */
